.main {

    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%; 
    background-color: rgb(235, 230, 240);
    
  
        
}

.img{

    display: flex;
    padding: 0px;
    margin: 0%;
    width: 350px;
    height: 250px;
    flex-direction: column;
    justify-content: baseline;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    
}

.text  {
    
    background-color: white;
    width: 174px;
    height: 10svh;
    margin: 0%;
    display: flex;
    flex-direction: column;
    padding: 10vh;
    text-align: justify;
    
    

}
.button{

    display: flex;
    justify-content: center;

}

.perfume {
    display: flex;
    margin: 0%;
    height: 0%;
    letter-spacing: 10px
    flex-direction: column;
    text-align: justify;


}
